body {
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/people-playing-paper-rock-scissors-royalty-free-illustration-1583269312.jpg?crop=0.93336xw:1xh;center,top&resize=1200:*");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}